body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.all-messages {
    display:flex;
    flex-direction: column;
    width:80vw;
    align-items: center;
    justify-content: space-evenly;
}
.message-container {
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width:70vw;
    height:auto;
    background-color: gray;
    border-radius: 12px;
    margin:1vw;
}
.message-header {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height:50%;
    width:100%;
}
.message {
    text-align: center;
    height:auto;
    width:60vw;
}
.message-author {
    color:white;
}