<h2>Post a new message!</h2>
<form method="POST" action="/new">
    <div>
        <label for="author">
            Author Name
            <input name='author' type="text" placeholder="David"/>
        </label>
        <label for='messageContent'>
            Message
            <textarea name="messageContent" id="messageContent" placholder="Hi Cindy, I hope your day is going well!"></textarea>
        </label>
    </div>
    <button type="submit">Submit Message</button>
</form>